@font-face {
  font-family: "Draconis";
  src: url("Draconis.otf");
}

.md-typeset h1, h2, h3, h4, h5, h6 {
  font-family: "Draconis";
}

.md-typeset h1{
  position: relative;
}

[data-md-color-scheme="slate"] .md-typset h1{
  color: black;
}

[data-md-color-scheme="default"]  .md-typeset h1{
  color: white;
}

@font-face {
  font-family: "Bookerly";
  src: url("Bookerly.ttf");
}

:root {
  --md-text-font: "Bookerly";
}


/* h1 underline */
.md-typeset h1::after{
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  left: 0;
  border: none;
  background: linear-gradient(to right, #e45732, transparent);
}
.md-typeset h2::after{
  content: "";
  display: block;
  width: 85%;
  height: 4px;
  left: 0;
  border: none;
  background: linear-gradient(to right, #ffbf69, transparent);
}
.md-typeset h3::after{
  content: "";
  display: block;
  width: 70%;
  height: 4px;
  left: 0;
  border: none;
  background: linear-gradient(to right, #70a288, transparent);
}
