@font-face {
  font-family: "Draconis";
  src: url("Draconis.otf");
  font-style: normal;
}

@font-face {
  font-family: "Draconis";
  src: url(Draconis\ Bold.otf);
  font-style: oblique;
}

@font-face {
  font-family: "Draconis";
  src: url(Draconis\ Italic.otf);
  font-style: italic;
}

@font-face {
  font-family: "Draconis";
  src: url(Draconis\ Bold\ Italic.otf);
  font-style: italic, oblique;
}

.md-typeset h1 {
  font-family: "Draconis";
  font-style: normal;
}



@font-face {
  font-family: "Bookerly";
  src: url("Bookerly.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Bookerly";
  src: url(Bookerly\ Bold.ttf);
  font-style: oblique;
}

@font-face {
  font-family: "Bookerly";
  src: url(Bookerly\ Italic.ttf);
  font-style: italic;
}

@font-face {
  font-family: "Bookerly";
  src: url(Bookerly\ Bold\ Italic.ttf);
  font-style: italic, oblique;
}

p {
  font-family: "Bookerly";
  font-style: normal;
}